<!-- Banner -->
<div class="contenedor">
     <!-- image_background -->
     <img src="assets/fondo.jpg" class="img-fluid" alt="fondouwu">
     <!-- About -->
     <div class="text">
          <div class="img">
               <!-- image_me -->
               <img src="assets/me.jpeg" class="rounded-circle mx-auto d-block" alt="fotomiauwu" width="250">
          </div>
          <div *ngFor="let banner of banners">
               <h1 class="display-1">{{ banner.title_name }}</h1>
               <h1 class="display-6">{{ banner.title_ocupation }}</h1>
          </div>
     </div>
     <div class="text1" *ngFor="let banner of banners">
          <p class="h1">{{banner.title_about}}</p>
          <blockquote class="blockquote">
               {{banner.description}}
          </blockquote>
     </div>
</div>