<!-- Banner -->
<div class="contenedor">
     <img src="assets/fondo.jpg" class="img-fluid" alt="fondouwu">
     <!-- About -->
     <div class="text">
          <div class="img">
               <img src="assets/me.jpeg" class="rounded-circle mx-auto d-block" alt="fotomiauwu" width="250">
          </div>
          <h1 class="display-1">Herrera Franco</h1>
          <h1 class="display-6">Fullstack Developer</h1>
     </div>
     <div class="text1">
          <p class="h1">Acerca de mi</p>
          <blockquote class="blockquote">
               <p>
                    Bueno me presento formalmente, soy Franco Herrera,
                    Tecnico en Programacion y Futuro Ingeniero en Informatica.
                    Me considero alguien con muchas ganas de aprender y de conseguir cosas en la vida.
               </p>
          </blockquote>
     </div>
</div>