<!-- Section with my Education -->
<div class="accordion accordion-flush p-3 m-2 rounded" id="accordionFlushExample">
     <!-- Bachiller -->
     <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
               <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    {{ education[0].title }}
               </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
               data-bs-parent="#accordionFlushExample">
               <div class="accordion-body">
                    <h6>
                         <strong>Titulo:</strong> {{education[0].title_grade}}<br>
                         <strong>Trayecto:</strong> {{education[0].title_trayectory}}
                    </h6>
                    <hr>
                    {{education[0].description}}
               </div>
          </div>
     </div>
     <!-- University -->
     <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
               <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    {{ education[1].title }}
               </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
               data-bs-parent="#accordionFlushExample">
               <div class="accordion-body">
                    <h6>
                         <strong>Titulo:</strong> {{education[1].title_grade}} <br>
                         <strong>Trayecto:</strong> {{education[1].title_trayectory}}
                    </h6>
                    <hr>
                    {{education[1].description}}
               </div>
          </div>
     </div>
     <!-- Course of programming about FrontEnd & BackEnd -->
     <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
               <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    {{ education[2].title }}
               </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
               data-bs-parent="#accordionFlushExample">
               <div class="accordion-body">
                    <h6>
                         <strong>Titulo:</strong> {{education[2].title_grade}} <br>
                         <strong>Trayecto:</strong> {{education[2].title_trayectory}}
                    </h6>
                    <hr>
                    {{education[2].description}}
               </div>
          </div>
     </div>
     <!-- Course of TI -->
     <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFour">
               <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                    {{ education[3].title }}
               </button>
          </h2>
          <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
               data-bs-parent="#accordionFlushExample">
               <div class="accordion-body">
                    <h6>
                         <strong>Titulo:</strong> {{education[3].title_grade}}<br>
                         <strong>Trayecto:</strong> {{education[3].title_trayectory}}
                    </h6>
                    <hr>
                    {{education[3].description}}
               </div>
          </div>
     </div>
     <!-- Basics of programming -->
     <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFive">
               <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                    {{ education[4].title }}
               </button>
          </h2>
          <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
               data-bs-parent="#accordionFlushExample">
               <div class="accordion-body">
                    <h6>
                         <strong>Titulo:</strong> {{education[4].title_grade}} <br>
                         <strong>Trayecto:</strong> {{education[4].title_trayectory}}
                    </h6>
                    <hr>
                    {{education[4].description}}
               </div>
          </div>
     </div>
     <!-- Basics -->
     <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingSix">
               <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                    {{ education[5].title }}
               </button>
          </h2>
          <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix"
               data-bs-parent="#accordionFlushExample">
               <div class="accordion-body">
                    <h6>
                         <strong>Titulo:</strong> {{education[5].title_grade}} <br>
                         <strong>Trayecto:</strong> {{education[5].title_trayectory}}
                    </h6>
                    <hr>
                    {{education[5].description}}
               </div>
          </div>
     </div>
</div>