<!-- section with projects -->
<section>
     <article class="presentation p-2" id="presentation">
          <div class="img text-center">
               <img src="assets/foto1.jpg" class="img-fluid rounded float-start mb-2" alt="...">
          </div>
          <figure class="text-end">
               <blockquote class="blockquote">
                    <p>
                         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sem enim, faucibus non accumsan
                         vitae,
                         vulputate ultrices arcu. Aliquam lectus arcu, laoreet ultricies massa ultricies, volutpat
                         fermentum elit.
                         Praesent id neque nunc. Aenean pharetra risus sit amet erat cursus, cursus suscipit odio
                         vulputate. Fusce ac
                         venenatis risus. Morbi hendrerit aliquet est vitae laoreet. Suspendisse potenti.

                         In egestas vestibulum diam vel consequat. Aenean euismod, lectus sed facilisis suscipit, ligula
                         enim
                         dignissim est, non varius magna metus ut mi. Curabitur eget est suscipit, vestibulum orci et,
                         pretium odio.
                         Cras et vulputate sem. Curabitur nibh odio, sagittis id lorem at, lacinia varius odio. Ut
                         sodales nibh vitae
                         nibh semper eleifend. Suspendisse commodo condimentum justo sed fermentum. Morbi convallis
                         neque id pulvinar
                         congue.
                    </p>
               </blockquote>
               <figcaption class="blockquote-footer">
                    Lorem ipsum dolor sit amet,<cite title="Source Title"> consectetur adipiscing elit.</cite>
               </figcaption>
          </figure>
     </article>
</section>