<h1 class="display-2 text-center">Proyectos</h1>
<figure class="figure p-5">
     <a href=""><img src="assets/fondo.jpg" class="figure-img img-fluid rounded-3" alt="project-1"></a>
     <figcaption class="figure-caption text-end">
          {{ projects[0].description }}
     </figcaption>
</figure>
<figure class="figure p-5">
     <a href=""><img src="assets/fondo.jpg" class="figure-img img-fluid rounded-3" alt="project-2"></a>
     <figcaption class="figure-caption text-end">
          {{projects[1].description}}
     </figcaption>
</figure>
<figure class="figure p-5">
     <a href=""><img src="assets/fondo.jpg" class="figure-img img-fluid rounded-3" alt="project-3"></a>
     <figcaption class="figure-caption text-end">
          {{projects[2].description}}
     </figcaption>
</figure>
<figure class="figure p-5">
     <a href=""><img src="assets/fondo.jpg" class="figure-img img-fluid rounded-3" alt="project-4"></a>
     <figcaption class="figure-caption text-end">
          {{projects[3].description}}
     </figcaption>
</figure>
<figure class="figure p-5">
     <a href=""><img src="assets/fondo.jpg" class="figure-img img-fluid rounded-3" alt="project-5"></a>
     <figcaption class="figure-caption text-end">
          {{projects[4].description}}
     </figcaption>
</figure>
<figure class="figure p-5">
     <a href=""><img src="assets/fondo.jpg" class="figure-img img-fluid rounded-3" alt="project-6"></a>
     <figcaption class="figure-caption text-end">
          {{projects[5].description}}
     </figcaption>
</figure>
<figure class="figure p-5">
     <a href=""><img src="assets/fondo.jpg" class="figure-img img-fluid rounded-3" alt="project-7"></a>
     <figcaption class="figure-caption text-end">
          {{projects[6].description}}
     </figcaption>
</figure>
<figure class="figure p-5">
     <a href=""><img src="assets/fondo.jpg" class="figure-img img-fluid rounded-3" alt="project-8"></a>
     <figcaption class="figure-caption text-end">
          {{projects[7].description}}
     </figcaption>
</figure>