<h1 class="display-2 text-center">Proyectos</h1>
<figure class="figure p-5">
     <a href=""><img src="assets/fondo.jpg" class="figure-img img-fluid rounded-3" alt="project-1"></a>
     <figcaption class="figure-caption text-end">Foro de plantas.</figcaption>
</figure>
<figure class="figure p-5">
     <a href=""><img src="assets/fondo.jpg" class="figure-img img-fluid rounded-3" alt="project-2"></a>
     <figcaption class="figure-caption text-end">Liquidacion de sueldos.</figcaption>
</figure>
<figure class="figure p-5">
     <a href=""><img src="assets/fondo.jpg" class="figure-img img-fluid rounded-3" alt="project-3"></a>
     <figcaption class="figure-caption text-end">Breaking Bad Wiki (API)</figcaption>
</figure>
<figure class="figure p-5">
     <a href=""><img src="assets/fondo.jpg" class="figure-img img-fluid rounded-3" alt="project-4"></a>
     <figcaption class="figure-caption text-end">Query remoto</figcaption>
</figure>
<figure class="figure p-5">
     <a href=""><img src="assets/fondo.jpg" class="figure-img img-fluid rounded-3" alt="project-5"></a>
     <figcaption class="figure-caption text-end">Digital presence</figcaption>
</figure>
<figure class="figure p-5">
     <a href=""><img src="assets/fondo.jpg" class="figure-img img-fluid rounded-3" alt="project-6"></a>
     <figcaption class="figure-caption text-end">Willy's Indoor</figcaption>
</figure>
<figure class="figure p-5">
     <a href=""><img src="assets/fondo.jpg" class="figure-img img-fluid rounded-3" alt="project-7"></a>
     <figcaption class="figure-caption text-end">TaTeTi Game</figcaption>
</figure>
<figure class="figure p-5">
     <a href=""><img src="assets/fondo.jpg" class="figure-img img-fluid rounded-3" alt="project-8"></a>
     <figcaption class="figure-caption text-end">Calculadora</figcaption>
</figure>