<!-- First section -->
<div class="row justify-content-center">
     <div class="col-2">
          <div class="card border-white mb-1 p-5 text-center" style="max-width: 18rem;">
               <div class="card-header">
                    <fa-icon [icon]="faHtml5"></fa-icon>
               </div>
               <div class="card-body">
                    <h5 class="card-title">{{skills[0].title_language}}</h5>
                    <div class="progress">
                         <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                              aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0"
                              aria-valuemax="100" style="width: 90%"></div>
                    </div>
               </div>
          </div>
     </div>
     <div class="col-2">
          <div class="card border-white mb-1 p-5 text-center" style="max-width: 18rem;">
               <div class="card-header">
                    <fa-icon [icon]="faCss3"></fa-icon>
               </div>
               <div class="card-body">
                    <h5 class="card-title">{{skills[1].title_language}}</h5>
                    <div class="progress">
                         <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                              aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0"
                              aria-valuemax="100" style="width: 90%"></div>
                    </div>
               </div>
          </div>
     </div>
     <div class="col-2">
          <div class="card border-white mb-1 p-5 text-center" style="max-width: 18rem;">
               <div class="card-header">
                    <fa-icon [icon]="faJs"></fa-icon>
               </div>
               <div class="card-body">
                    <h5 class="card-title">{{skills[2].title_language}}</h5>
                    <div class="progress">
                         <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                              aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0"
                              aria-valuemax="100" style="width: 75%"></div>
                    </div>
               </div>
          </div>
     </div>
</div>
<!-- Second section -->
<div class="row justify-content-center">
     <div class="col-2">
          <div class="card border-white mb-1 p-5 text-center" style="max-width: 18rem;">
               <div class="card-header">
                    <fa-icon [icon]="faAngular"></fa-icon>
               </div>
               <div class="card-body">
                    <h5 class="card-title">{{skills[3].title_language}}</h5>
                    <div class="progress">
                         <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                              aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0"
                              aria-valuemax="100" style="width: 35%"></div>
                    </div>
               </div>
          </div>
     </div>
     <div class="col-2">
          <div class="card border-white mb-1 p-5 text-center" style="max-width: 18rem;">
               <div class="card-header">
                    <fa-icon [icon]="faReact"></fa-icon>
               </div>
               <div class="card-body">
                    <h5 class="card-title">{{skills[4].title_language}}</h5>
                    <div class="progress">
                         <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                              aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0"
                              aria-valuemax="100" style="width: 20%"></div>
                    </div>
               </div>
          </div>
     </div>
     <div class="col-2">
          <div class="card border-white mb-1 p-5 text-center" style="max-width: 18rem;">
               <div class="card-header">
                    <fa-icon [icon]="faBootstrap"></fa-icon>
               </div>
               <div class="card-body">
                    <h5 class="card-title">{{skills[5].title_language}}</h5>
                    <div class="progress">
                         <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                              aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0"
                              aria-valuemax="100" style="width: 90%"></div>
                    </div>
               </div>
          </div>
     </div>
</div>
<!-- Third section -->
<div class="row justify-content-center">
     <div class="col-2">
          <div class="card border-white mb-1 p-5 text-center" style="max-width: 18rem;">
               <div class="card-header">
                    <fa-icon [icon]="faPhp"></fa-icon>
               </div>
               <div class="card-body">
                    <h5 class="card-title">{{skills[6].title_language}}</h5>
                    <div class="progress">
                         <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                              aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0"
                              aria-valuemax="100" style="width: 55%"></div>
                    </div>
               </div>
          </div>
     </div>
     <div class="col-2">
          <div class="card border-white mb-1 p-5 text-center" style="max-width: 18rem;">
               <div class="card-header">
                    <fa-icon [icon]="faPython"></fa-icon>
               </div>
               <div class="card-body">
                    <h5 class="card-title">{{skills[7].title_language}}</h5>
                    <div class="progress">
                         <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                              aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0"
                              aria-valuemax="100" style="width: 55%"></div>
                    </div>
               </div>
          </div>
     </div>
     <div class="col-2">
          <div class="card border-white mb-1 p-5 text-center" style="max-width: 18rem;">
               <div class="card-header">
                    <fa-icon [icon]="faNodeJs"></fa-icon>
               </div>
               <div class="card-body">
                    <h5 class="card-title">{{skills[8].title_language}}</h5>
                    <div class="progress">
                         <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                              aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0"
                              aria-valuemax="100" style="width: 65%"></div>
                    </div>
               </div>
          </div>
     </div>
</div>
<!-- Forth section -->
<div class="row justify-content-center">
     <div class="col-2">
          <div class="card border-white mb-1 p-5 text-center" style="max-width: 18rem;">
               <div class="card-header">
                    <fa-icon [icon]="faGit"></fa-icon>
               </div>
               <div class="card-body">
                    <h5 class="card-title">{{skills[9].title_language}}</h5>
                    <div class="progress">
                         <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                              aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0"
                              aria-valuemax="100" style="width: 80%"></div>
                    </div>
               </div>
          </div>
     </div>
     <div class="col-2">
          <div class="card border-white mb-1 p-5 text-center" style="max-width: 18rem;">
               <div class="card-header">
                    <fa-icon [icon]="faGithub"></fa-icon>
               </div>
               <div class="card-body">
                    <h5 class="card-title">{{skills[10].title_language}}</h5>
                    <div class="progress">
                         <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                              aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0"
                              aria-valuemax="100" style="width: 80%"></div>
                    </div>
               </div>
          </div>
     </div>
     <div class="col-2">
          <div class="card border-white mb-1 p-5 text-center" style="max-width: 18rem;">
               <div class="card-header">
                    <fa-icon [icon]="faDatabase"></fa-icon>
               </div>
               <div class="card-body">
                    <h5 class="card-title">{{skills[11].title_language}}</h5>
                    <div class="progress">
                         <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                              aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0"
                              aria-valuemax="100" style="width: 87%"></div>
                    </div>
               </div>
          </div>
     </div>
</div>