<nav class="navbar bg-info">
     <div class="container-fluid">
          <!-- left side -->
          <a class="navbar-brand" href="#">
               <img src="assets/argprog.png" alt="Logo" width="120" class="d-inline-block">
               #YoProgramo
          </a>
          <!-- right side -->
          <ul class="nav justify-content-end">
               <li class="nav-item">
                    <a class="nav-link text-dark active" href="https://github.com/scott1ee">
                         <fa-icon [icon]="faGithub"></fa-icon>
                    </a>
               </li>
               <li class="nav-item">
                    <a class="nav-link text-dark active" href="https://www.linkedin.com/in/franco-herrera-36723321b/">
                         <fa-icon [icon]="faLinkedin"></fa-icon>
                    </a>
               </li>
               <li class="nav-item">
                    <a class="nav-link text-dark active" href="">Login</a>
               </li>
          </ul>
     </div>
</nav>